*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8A1538;
}

.all{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-img{
    width: 45%;
    height: 100%;
}

.background-img img{
    width: 100%;
    height: 100%;
}

.container .form{
    width: 70%;
    padding: 30px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #FAFAFB;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background-color: transparent;
    color: white;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: rgba(231, 233, 232, 0.8);
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: rgba(231, 233, 232, 0.8);
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: rgba(231, 233, 232, 0.8);
}

::placeholder {
    color: rgba(231, 233, 232, 0.8);;
    opacity: 1;
}

.form .text{
    color: #AEB0BF;
    font-size: 14px;
}

.form a.text{
    color: rgba(231, 233, 232, 0.8);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form button{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    color: #FAFAFB;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: rgba(231, 233, 232, 0.8);
    color: #8A1538;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 768px){
    .background-img img{
        display: none;
    }

    .container{
        height: 100vh;
        width: 100%;
    }

    .background-img{
        width: 0;
    }

    .container .form{
        width: 95%;
    }
}
