/*  */
/*
    RULES :
    1- use (rem) as unity 
    2- write comments
    COLORS:
    1-body background : #8A1538;
    2-button & big-title (general color ) : #
    
    Dimensions:
    1-width cards : 20%
    2-
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

:root{
    --WidthCard : 20%;
    --BodyBackground : #d1d1d1;;
    --GeneralColor : #8A1538;;
}

/* ______________YE______________ */

.header-stades{
    width: 100vw;
    height: 50vh;
    background-image: url(../img/essential/header.webp);
    background-position: center;
    z-index: -1;
 }
 .header-themes{
   width: 100vw;
   height: 50vh;
   background-image: url(../img/essential/maxresdefault.jpg);
   background-position: top;
   background-repeat: round;
   background-size: cover;
   z-index: -1;
 }
 .opa{
   width: 100vw;
    height: 50vh;
    background-color: brown;
    opacity: 0.5;
 }

/* ______________Ak______________ */


/* ______________YS______________ */


/* ______________HH______________ */
.back{
    background-color: #DADAFB !important;
}
.btn{
    background-color: #8A1538;
}
.color-icon{
    border: 2px solid #8A1538;
    padding: 3px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: .5s ease-in-out;
    color: #8A1538;
}
.color-icon:hover{
    background-color: #8A1538;
    color: white;
    transition: .5s ease-in-out;
}


